html {
  overflow: hidden !important;
  height: 100% !important;
}

body {
  overscroll-behavior: none !important;
  height: 100% !important;
  overflow: auto !important;
}

ytmusic-nav-bar {
  margin-top: 15px;
}

#guide-content {
  padding-top: 15px;
}
