html {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
}

body {
  overscroll-behavior: none !important;
  height: 100% !important;
  width: 100% !important;
  overflow: auto auto !important;
}

ytmusic-carousel-shelf-renderer {
  margin-bottom: 0 !important;
}

iron-selector::-webkit-scrollbar {
  display: none;
}

ytmusic-chip-cloud-chip-renderer {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

ytmusic-app-layout>[slot=mini-guide] {
  display: none !important;
}

ytmusic-app-layout>[slot=player-page] {
  left: 0 !important;
  width: 100% !important;
}

#mini-guide-background {
  display: none !important;
}

.header-group {
  margin-left: 10px !important;
  max-width: 99% !important;
}

#content-wrapper {
  margin-left: 10px !important;
}
